body {
    margin: 0;
}

#poster {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
    touch-action: none;
}

.draggable {
    pointer-events: none;
    position: absolute;
    transform-origin: center;
    will-change: transform;
}

.draggable svg {
    pointer-events: visiblePainted;
    width: 100%;
    height: 100%;
}

.draggable svg * {
    pointer-events: visiblePainted;
}